.boost:hover {
  cursor: pointer;
}

.boost:active {
  background-color: yellow;
}

.boost {
  margin: 1rem;
  padding: 0.5rem;
}

#p1reset,
#p2reset {
  width: 75%;
  margin: 1rem;
}

.forcecenter {
  justify-content: center;
}

@media (orientation: landscape) {
  .apple {
    width: 10vw;
  }
  .otherimage {
    width: 5vw;
  }
}

@media (orientation: portrait) {
  .apple {
    width: 10vh;
  }
  .otherimage {
    width: 5vw;
  }
}

.bold {
  font-weight: bold;
}

.dpsbox {
  border: 2px black solid;
}

.extraspace {
  margin: 1.5rem;
}

.slightspace {
  margin: 0.5rem;
}

.fiddy {
  width: 33%;
}

.dpsborder {
  border: 1px black dashed;
}

#p1dpsdiff,
#p1hpdiff,
#p1activestyle,
#p1activeskillstyle,
#p1melstr,
#p1stab,
#p1slash,
#p1crush,
#p2dpsdiff,
#p2hpdiff,
#p2activestyle,
#p2activeskillstyle,
#p2melstr,
#p2stab,
#p2slash,
#p2crush {
  background-color: black;
  color: white;
  font-weight: bold;
}

.equip {
  width: 160px;
  margin: 0.25rem;
  text-align: center;
}

.displayrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  justify-content: center;
}

.form-label {
  margin-top: 0.25rem;
  padding: 0.25rem;
}

.main {
  display: flex;
  flex-direction: column;
}

.sidecol {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
