h3 {
  color: blue;
  text-align: center;
  font-weight: bold;
  margin: 0.5rem;
}

.head {
  background-color: rgb(215, 209, 235);
}

body {
  background-color: rgb(224, 215, 255);
}

.status {
  color: rgb(255, 0, 0);
  font-weight: bold;
}

.doggo {
  margin: 0.2rem;
  border-radius: 1rem;
  border-color: purple;
  background-color: whitesmoke;
  color: rgb(50, 50, 214);
  font-weight: bold;
}
