  /* Global */
a.mainlink {
    color: inherit;
    text-decoration: inherit;
  }

.outputArea {
  color: red;
  font-weight: bold;
}

.status {
  color: red;
  font-weight: bold;
}

/* Vending Machine Placement Agency Page */
.vmpa {
  color: rgb(32, 32, 158);
}

.listing {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  display: inline-block
}

.listing:nth-child(n+1) {
  margin-left: -1px;
}

.spanTitle {
  color: purple;
  font-weight: bold;
}

.block {
  display: block;
  margin: 3px 3px 3px 3px
}

.block2 {
  display: inline-block;
}

/* Vending Machine Display Page */
.snackimage {
    width: 95%;
    height: 95%;
    object-fit:contain;
  }

.snackcolumn {
  padding: 0.1rem;
  }

.vendingouter {
    padding-top: 1rem;
    background-color: rgb(39, 39, 39);
  }

.vendinginner {
  border-radius: .25rem;
    border-color: gray;
    border-width: .25rem;
    border-style: solid;
    background-color: black;
    padding: .25rem;
    margin-right: .0625rem;
  }

.vendinginner:nth-child(n+2) {
  border-left: 0px;
}

.vendingright {
    background-color: rgb(39, 39, 39);
  }

.changemachine {
    vertical-align:middle;
    width:100%;
    height: 100%;
    object-fit: contain;
    padding: 0px;
  }

.door {
    width: 75%;
    margin: 1rem;
  }

/* Manager Page */
.managedata {
    display: block;
  }

.editManager {
    font-weight: bold;
 }
  
/* Gregor's Page */
.forSale {
  border: 0px;
  border-bottom: 2px;
  border-style: solid;
}


/* Warehouse Page */
.warehouseItem {
  margin-bottom: .5rem;
  margin-right: .5rem;
  object-fit: contain;
  align-items: center;
}

.input-group.warehouse-group {
  align-items: center;
  margin-bottom: 1rem;
  border-color: black;
  border:1px;
  border-style:solid;
  padding:.5rem
}

.vendingSlot {
  margin-right: 1rem;
}

/* Warehouse Mart Page */
.managedata {
  display: block;
}

.snackStore {
  margin-top: 1rem;
  margin-bottom: 1rem;
  object-fit: contain;
}

.wareHouseMartLogo {
  max-width: 75%;
  margin-bottom: 1rem;
}

.LogoBG {
  background: rgba(226,226,226,255);
}

.itemColumn {
  border: 1px;
  border-style: solid;
  border-color: black;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.itemColumn:nth-child(n+1) {
  margin-left: -1px;
}