/* Master/Common CSS */

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: rgb(239, 236, 248);
}

button {
  width: fit-content;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 1rem;
}

h2,
h3,
h4 {
  margin: 0.25rem;
}

.welcome {
  border: 1px rgb(123, 33, 197);
  border-radius: 1rem;
  padding: 0.25rem;
  background-color: rgb(139, 53, 209);
  color: white;
}

.cet {
  margin: 0.25rem;
}

.messages {
  border: 1px black solid;
  width: 90%;
}

/* Shortcut CSS */
.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

body {
  width: 100%;
}

/* Header CSS */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: sticky;
  height: fit-content;
  top: 0;
  background: rgb(197, 188, 231);
  color: purple;
}

/* Main CSS */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Card Page CSS */
.cardmain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  margin: 0.5rem;
  display: flex;
  width: 44%;
  height: 160px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px black solid;
  border-radius: 0.75rem;
}

.cardinfo {
  width: fit-content;
  padding: 0.25rem;
}

.card > h4,
.card > p {
  margin: 0.25rem;
}

.negative {
  color: red;
  font-weight: bold;
  font-size: 1rem;
}

.red {
  color: red;
  font-weight: bold;
}

/* Budget Table CSS */

.budgetbutton {
  width: fit-content;
  margin: 0.25rem;
  padding: 0.25rem;
  border-radius: 0.75rem;
}

.top {
  font-weight: bold;
  background-color: rgb(255, 200, 0);
  padding: 0.5rem;
}

td {
  border: 1px black solid;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.1rem;
  width: 18vw;
  text-align: center;
}

.budgetinput,
.budgetBalance,
.budgetdesc {
  width: 87%;
  border: 0;
  outline: 0;
}

.desc {
  width: 100%;
}

.budgetdesc {
  font-size: 75%;
}

.money {
  font-size: 85%;
}

.budgetinput:focus,
.budgetinput:active {
  border: 0;
  outline: 0;
}
