body {
  background-color: #dba3bf;
}

p {
  font-size: 3vh;
  margin: 0px;
}

.list {
  font-size: 3vh;
}

.listshame {
  font-size: 3vh;
  color: darkred;
}

.title {
  font-size: 4vh;
}

.titlerow {
  text-align: center;
  align-items: center;
  justify-items: center;
}

.kc {
  font-size: 4vh;
}

.margintop {
  margin-top: 1rem;
}

.green {
  color: green;
}

img {
  width: 100%;
  padding: 0.15em;
}

@media (orientation: portrait) {
  .list {
    font-size: 2vh;
  }

  .listshame {
    font-size: 2vh;
    color: darkred;
  }

  .title {
    font-size: 3vh;
  }

  .kc {
    font-size: 3vh;
  }

  .titlerow {
    flex-direction: column;
  }

  img {
    width: 300%;
    padding: 0.25em;
  }
}

@media (min-width: 1200px) {
  .list {
    font-size: 2vh;
  }

  .listshame {
    font-size: 2vh;
    color: darkred;
  }

  .title {
    font-size: 3vh;
  }

  .kc {
    font-size: 3vh;
  }
}

.frog {
  width: 3em;
}
