a.mainlink {
  color: inherit;
  text-decoration: inherit;
}

a {
  display: inline-block;
}

.input-head-main {
padding-top: .5rem;
}

.fueltext {
  font-size: 15px;
}

.rocks {
  background: rgb(199, 197, 206);
  padding: 1rem 1rem 1rem 1rem;
  margin-bottom: 1rem;
  border-radius: 15px;
}

.rocks2 {
  margin: 0.5rem;
}

.mainmessages {
  font-weight: bold;
  color: red;
  margin-top: 1rem;
}

.mainmessages3 {
  font-weight: bold;
  color: rgb(122, 122, 122);
}

.mainmessages2 {
  font-weight: bold;
  text-align: center;
  color: rgb(61, 61, 136);
  border: 0.5rem;
  border-style: groove;
  border-bottom: none;
  background-color: rgb(226, 226, 226);
}

.gprices {
  font-weight: bold;
  text-align: center;
  color: white;
  border: 0.5rem;
  border-style: groove;
  border-bottom: none;
  background-color: #7974f8;
}

.gpricemsg {
  font-weight: bold;
  text-align: center;
  color: rgb(61, 61, 136);
  border: 0.5rem;
  border-style: groove;
  background-color: rgb(226, 226, 226);
}

.violations {
  font-weight: bold;
  color: rgb(129, 12, 12);
}

.customerInfo {
  font-weight: bold;
  color: rgb(194, 108, 108);
}

button {
  margin: 3px;
  border-radius: .5rem;
}

.map {
  height: 300px;
  width: 100%;
}

.map2 {
  height: 300px;
  width: 100%;
}

.maptext {
  font-weight: bold;
}

table,td,tr,th {
  border:1px solid;
  border-style: solid;
  padding: .25rem;
  text-align: center;
}

th{
  padding: .5rem;
}

.center {
  margin-left: auto;
  margin-right: auto;
}