body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: whitesmoke;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: brown;
}

header {
  display: flex;
  background-color: brown;
  width: 100%;
  top: 0;
  position: fixed;
}

header > section {
  height: 100px;
  display: flex;
  align-items: center;
}

main {
  margin-top: 100px;
  background-color: rgb(206, 79, 79);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main > img {
  margin: 1rem 1rem 0rem 1rem;
}
main > h1,
main > p {
  margin: 0;
  margin-top: 1rem;
  color: black;
}

p,
li {
  font-size: 1.2rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.centered {
  text-align: center;
}

.sidebyside {
  display: flex;
  flex-direction: row;
}

.nomargin {
  margin-bottom: 0;
}

.nopad {
  padding: 0;
}

.nomargintop {
  margin-top: 0;
}

ul {
  margin: 0;
}

.bold {
  font-weight: bold;
}

.white {
  color: white;
}

main > p {
  color: black;
  font-weight: bold;
  font-size: 1.25rem;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
  justify-content: flex-end;
}

.mainlogo {
  margin: 0.5rem;
  height: 70%;
  margin-right: 1rem;
}

.mainsearch {
  height: 30%;
  width: 20vw;
  border-radius: 2rem;
  text-align: center;
}

.bullseye {
  color: orange;
}

.headertxt,
.searchtxt {
  margin: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: orange;
}

.searchtxt {
  border: 2px orange solid;
  text-decoration: none;
  border-radius: 2rem;
  padding: 0.25rem;
}

.apply {
  background-color: brown;
}

.headerlink {
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

label {
  display: flex;
  align-items: center;
}

a:active {
  background-color: rgb(29, 25, 25);
}

.headerlink:active {
  background-color: rgb(29, 25, 25);
}

footer {
  background-color: rgb(46, 46, 46);
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
  width: 100%;
}

.margin {
  margin: 1.5rem;
}

main > section > img {
  width: 50vw;
}

main > section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img25 {
  width: 25vw;
}

.img50 {
  width: 50vw;
}

.img75 {
  width: 75vw;
}

/* 1000 PX or Less Media Section*/

@media (max-width: 1200px) {
  header {
    flex-direction: column;
    height: fit-content;
  }

  header > section {
    height: 10vh;
    padding: 3px;
  }

  .mainlogo {
    height: 100%;
  }

  .left {
    justify-content: flex-start;
    width: 100%;
    padding: 0.5rem;
  }

  .right {
    justify-content: center;
    width: 100%;
  }

  .headerlink {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .mainsearch {
    width: 30vw;
    border-radius: 2rem;
  }

  main {
    margin-top: 22vh;
  }
}

@media (max-width: 850px) {
  body {
    display: flex;
    flex-direction: column;
  }
  header {
    height: fit-content;
  }

  header > section {
    flex-direction: column;
  }
  .mainlogo {
    height: 50%;
    margin: 0.25rem;
  }
  .left {
    width: 100%;
    height: 185px;
  }
  .right {
    width: 100%;
    height: 110px;
    justify-content: flex-start;
  }
  .headerlink {
    margin: 0;
    padding: 0;
  }
  .headertxt,
  .searchtxt {
    margin: 0.25rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: orange;
  }
  .mainsearch {
    width: 50vw;
    border-radius: 2rem;
  }
  main {
    margin-top: 305px;
  }
}
@media (max-height: 600px) {
  .mainsearch {
    height: 40%;
  }
}

@media (max-height: 400px) {
  .mainsearch {
    height: 50%;
  }
}
