html,
body {
  margin: 0;
  padding: 0;
  color: white;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

@font-face {
  font-family: Digital7;
  src: url(digital-7.ttf);
}

#reddot,
#greendot {
  width: 6vw;
  height: 6vw;
  margin: 7vw;
  border-radius: 100%;
  /*Invisible until called upon*/
  display: none;
}

#reddot {
  background-color: red;
}

#clock {
  width: 55vw;
  height: 40vh;
  display: flex;
  font-size: 30vw;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  font-family: Digital7;
}

#greendot {
  background-color: green;
}

button {
  margin: 0.3rem;
  border: 3px rgb(65, 65, 65) solid;
  border-radius: 0.5rem;
  padding: 0.4rem;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.timer0,
.timer1,
.timer2,
span {
  text-align: center;
}

#timeup,
#timedown,
#timeupfast,
#timedownfast {
  width: 55px;
  height: 55px;
}

#control {
  font-size: 5vw;
  font-weight: bold;
  margin: 0.5rem;
  padding: 0.25rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#redtime,
#greentime {
  color: white;
}

#redtime {
  background-color: red;
}

#greentime {
  background-color: green;
}

#redtime,
#greentime {
  width: 120px;
}

#neutraltime {
  width: 150px;
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95vw;
  height: 95vh;
  background-color: black;
}

.toparea {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.toparea,
.middlearea,
.bottomarea {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#greentime:active,
#redtime:active,
#neutraltime:active,
button:active {
  background-color: yellow;
}

#greentime:focus,
#redtime:focus,
#neutraltime:focus {
  border: 3px blue solid;
}

/* New Media Query: Portrait Mode*/

@media (orientation: portrait) {
  #clock {
    font-size: 30vw;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  #reddot,
  #greendot {
    width: 6vh;
    height: 6vh;
    margin: 0;
  }

  .middlearea,
  .toparea,
  .bottomarea {
    margin: 0;
    width: 95vw;
    justify-content: center;
  }

  .middlearea {
    display: flex;
    flex-flow: column;
  }
  #control {
    order: -1;
    font-size: 10vw;
  }
}

@media (orientation: landscape) and (max-height: 850px) {
  #clock {
    font-size: 25vw;
  }
}

@media (orientation: landscape) and (max-height: 700px) {
  #clock {
    font-size: 20vw;
  }
}
