html,
body {
  margin: 0;
  padding: 0;
  color: white;
  height: 100%;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  background-color: black;
}

@font-face {
  font-family: Digital7;
  src: url(digital-7.ttf);
}

.ridingclockmain {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*
#adjust {
  display: none;
}*/

#reddot,
#greendot {
  width: 45px;
  height: 45px;
  margin: 1rem;
  border-radius: 100%;
  /*Invisible until called upon*/
  display: none;
}

#reddot {
  background-color: red;
}

#clock {
  width: 45vw;
  height: 45vh;
  display: flex;
  font-size: 25vw;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  font-family: Digital7;
}

#greendot {
  background-color: green;
}

button {
  margin: 0.5rem;
  border: 3px rgb(65, 65, 65) solid;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 24px;
  text-align: center;
}

.timer0,
.timer1,
.timer2,
span {
  text-align: center;
}

#timeup,
#timedown,
#timeupfast,
#timedownfast {
  width: 55px;
  height: 55px;
}

#control {
  font-size: 24px;
  margin: 0.5rem;
  padding: 1rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#redtime,
#greentime {
  color: white;
}

#redtime {
  background-color: red;
}

#greentime {
  background-color: green;
}

#redtime,
#greentime {
  width: 120px;
}

#neutraltime {
  width: 150px;
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 95%;
  background-color: black;
  border-radius: 1rem;
}

.toparea {
  height: fit-content;
  width: 100%;
  margin: 2rem;
  justify-content: center;
  align-items: center;
}

.toparea,
.middlearea,
.bottomarea {
  display: flex;
  flex-direction: row;
}

@media (max-width: 800px) {
  .toparea {
    display: flex;
    height: fit-content;
    margin: 1rem;
    text-align: center;
  }

  #clock {
    font-size: 30vw;
  }

  button {
    margin: 0.25rem;
  }

  .background {
    background-color: none;
    justify-content: center;
    align-items: center;
  }

  body {
    background-color: black;
  }

  .middlearea,
  .bottomarea {
    display: flex;
    width: 75%;
    flex-direction: row;
    height: fit-content;
    margin: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  #reddot,
  #greendot {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin: 0.5rem;
  }
}

@media (min-width: 1200px) {
  #clock {
    font-size: 30vw;
    margin-left: 7rem;
    margin-right: 7rem;
  }

  #control {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
  }

  .middlearea {
    align-items: center;
  }

  #reddot,
  #greendot {
    width: 100px;
    height: 100px;
    margin: 1rem;
    border-radius: 100%;
  }
}

@media (max-width: 667px) {
  #clock {
    font-size: 30vw;
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .middlearea,
  .toparea,
  .bottomarea {
    margin: 0;
  }
}

@media (max-height: 445px) {
  #clock {
    font-size: 50vh;
  }
  .toparea,
  .middlearea,
  .bottomarea {
    margin: 0;
  }
}

#greentime:active,
#redtime:active,
#neutraltime:active,
button:active {
  background-color: yellow;
}

#greentime:focus,
#redtime:focus,
#neutraltime:focus {
  border: 3px blue solid;
}

@media (max-width: 500px) {
  button,
  #redtime,
  #greentime,
  #neutraltime,
  #control {
    font-size: 5vw;
    font-weight: bold;
    width: 32vw;
    height: 16vw;
  }
  #adjust {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #timedown,
  #timeup,
  #timedownfast,
  #timeupfast {
    width: 15vw;
    height: 15vw;
  }
  #control {
    font-size: 10vw;
  }
  .middlearea {
    flex-direction: column;
  }
  .timer0 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
